<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel="StyleSheet" href="/css/mypetstore.css" type="text/css" media="screen"/>
    <title>Title</title>
</head>
<body>
<div th:replace="common/top"></div>
<div id="BackLink">
  <a href="/catalog/view">Return to Main Menu</a>
</div>

<div id="Main">
<h2 th:text="${category.getName()}"></h2>

  <table>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
    </tr>
      <tr th:each="product:${productlist}">
        <td>
          <a th:href="@{'/product/productForm?productId='+${product.getProductId()}}" th:text="${product.getProductId()}"></a>
        </td>
        <td th:text="${product.getName()}"></td>
      </tr>
  </table>

</div>
<div th:replace="common/bottom"></div>
</body>
</html>